.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
  .s1,
  .s2 {
    font-size: 50px;
    font-weight: 900;
  }
  .s2 {
    margin-left: 120px;
  }
  .bottom {
    margin-left: 100px;
  }
  .b1,
  .b2 {
    font-size: 19px;
    padding: 5px 25px 5px 25px;
    font-weight: 500;
    border-radius: 5px;
  }
  .b1 {
    background-color: #2663eb;
    border: 1px solid #2663eb;
    color: white;
  }
  .b2 {
    background-color: #ffffff;
    margin-left: 20px;
    color: #7c828d;
    border: 2px solid #e8eaee;
  }